/**
 * WorkSpace.js
 * @author Andrew Dodson
 */

.frameset{
	width:100%;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	white-space:normal;
	white-space-collapsing:discard;
	
	/** Hack to remove the white space between element**/
	letter-spacing: -.31em;
	word-spacing: -.43em;
	
	overflow:hidden;
}
	.frameset.inline .frame{
		display:inline-block;
		vertical-align:top;
	}
	/** Mobile view */
	.frameset.mobile .frame{
		display:none;
	}
	.frameset.mobile .frame.active{
		position:absolute;
		left:0;
		right:0;
		z-index:1;
		top:0;
	}
	.frameset.mobile .frame{
		overflow:hidden;
	}

	.frameset .frame{
		position:relative;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		height:100%;
		overflow:auto;
		margin:0;
	    letter-spacing: normal;
	    word-spacing: normal;
	}
		.frameset .frame .resize{
			position:absolute;
			cursor:w-resize;
			right:0;
			top:0;
			bottom:0;
			height:100%;
			width:5px;
			padding:0;
			border:0;
		}
		.frameset .frame .pin{
			position:absolute;
			top:0;
			right:0;
			margin:0;
			border:0;
			border-radius:3px;
			line-height:0.7em;
			padding:2px 4px;
			vertical-align:top;
		}
		.frameset .frame:last-child .resize{
			display:none;
		}
		.frameset .frame .pin:after{
			content:'\00D7';
			font-size:1em;
		}
		/** mobile */
		.frameset.mobile .frame .resize,
		.frameset.mobile .frame .pin{
			display:none;
		}

	.frameset .frame:before{
		position:absolute;
		top:0;
		left:0;
	}
	/*
	.frame:after{
		content:" ";
		width:10px;
		height:100%;
		background-color:gray;
		position:absolute;
		right:-25px;
		cursor:pointer;
	}
	.frame:last-child:after{
		display:none;
	}
	*/
	.frameset button.workspace-back{
		display:none;
	}
	.frameset.mobile button.workspace-back{
		display:inline-block;
	}
	/**
	 * Pinned
	 */
	.frameset .frame.pinned{
		width:0;
		position:absolute;
		left:0;
		z-index:10000;
		background:transparent;
		opacity:0.5;
	}
	.frameset .frame.pinned:hover{
		opacity:1;
		color:white;
	}
		.frameset .frame.pinned:before{
		/*
			-webkit-transform: rotate(-90deg) translateX(-80px);
			-webkit-transform-origin: 0 0;
		*/
			content:'+';
			z-index:1000;
			font-size:2em;
		}
	.frameset .frame.pinned *{
		display:none;
	}
